<ion-header>
  <ion-navbar>
    <ion-title>
      Hero Client implemented with Angular and Ionic
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col col-auto>
      <h1>List of Heroes</h1>
      <p style="color: red" *ngIf="statusMessage" >{{ statusMessage }}</p>
      <ion-list>
        <hero-list-element *ngFor="let hero of heroes"
                          [element]="hero"
                          (deleteClicked)="onDeleteClicked()"
                          (heroListElementClicked)="onHeroListElementClicked($event)">
        </hero-list-element>
      </ion-list>
    </ion-col>
    <ion-col col-8 col-sm-12 col-md-6 col-lg-4 col-xl-4>
      <div *ngIf="selectedHero">
          <hero-details [selectedHero]="selectedHero">
          </hero-details>
      </div>
      <div *ngIf="!selectedHero">
          <h2>Select a hero to see details</h2>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
